@media screen and (max-width: 1199px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width: 991px) {
    .container {
        grid-template-columns: repeat(2, 1fr);
        padding: 60px 40px;
    }

    .icons {
        font-size: 18px;
        width: 50px;
        height: 50px;
        display: inline-block;
        line-height: 50px;
        border-radius: 30%;
    }

    .items {
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .icons {
        font-size: 16px;
        width: 40px;
        height: 40px;
        display: inline-block;
        line-height: 40px;
        border-radius: 50%;
    }

    .items h2 {
        font-size: 20px;
        margin-top: 20px;
        margin-bottom: 18px;
    }

    .items p {
        font-size: 14px;
        max-width: 365px;
    }
}

@media screen and (max-width: 576px) {
    .container {
        grid-template-columns: repeat(1, 1fr);
    }

    .items {
        background: #fff;
        padding: 30px;
        transition: all linear 0.4s;
    }

    .items h2 {
        font-size: 18px;
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .items p {
        font-size: 14px;
        max-width: 309px;
        line-height: 20px;
    }

    .icons {
        font-size: 10px;
        width: 30px;
        height: 30px;
        line-height: 31px;

    }
}